NODE_ENV=<Node environment type>
API_URL=<URL of API>
PORT=0

ONESIGNAL_APP_ID=<APP ID of OneSignal>
ONESIGNAL_REST_API_KEY=<Rest API Key of OneSignal>

FIREBASE_STORAGE_URL=<URL of Firebase Storage>
FIREBASE_KEY_FILENAME=<Filename of Firebase file>
FIREBASE_JSON=""

POSTGRES_HOST=<Host of postgres>
POSTGRES_PORT=<Host port of postgres>
POSTGRES_USERNAME=<Username of postgres user>
POSTGRES_PASSWORD=<Password of postgres user>
POSTGRES_DATABASE=<Name of postgres DB>

JWT_SECRET_KEY=<Secret key for JWT sign>

TYPEORM_ENTITIES_PATH=""
TYPEORM_MIGRATIONS_PATH=""
TYPEORM_ENTITIES_CLI_PATH=""

GOOGLE_SERVICE_ACCOUNT_EMAIL=""
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=""

REDIS_HOST=""
REDIS_PORT=0
REDIS_PASSWORD=""
ENCRYPT_MESSAGE_KEY=""
